.js-layout-builder-category {
  clear: both;
}
a.layout-builder-browser-block-item {
  float: left;
  clear: both;
}
a.browse-library-icon.align-right {
  font-size: .75em;
  padding-right: 30px;
  background: url(../icons/table.svg) no-repeat right center;
  height: 28px;
  margin-top: 12px;
  display: flex;
  align-items: center;
}

.browser-block-library-blocks .messages {
  margin: 12px 0;
}
